<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <h1>welcome to contatc page</h1>

    welcome to contact page

    <h1 class="text1">
        <%= name %>
    </h1>

    <% let a=10; console.log(a) %>

        <% let x=0
         while(x < 100){ %>

            <h2><%= x %></h2>
                <% x++ } %>


</body>

</html>